

.profile__avatar {
  object-fit: cover;
  height: 20rem;
  width: 20rem;
}

.profile__avatar-label {
  border: 1px solid rgb(71, 71, 71);
  border-radius: 1rem;
}

.tabs__choice {
  background-color: #94aade;
  color: #FFFFFF;
}

.tabs__button-add {
  background-color: #718ed4;
  border-radius: 1rem;
}

.weight-medium {
  font-weight: 500;
}

.tabs__choice[aria-selected="true"] {
  background-color: #FFFFFF;
  color: #000000;
}

.tabs__form {
  display: none;
}

.tabs__contents.editable .tabs__data {
  display: none;
}

.tabs__contents.editable .tabs__form {
  display: block;
}

.tabs__edit-button {
  background: none;
  width: 1.5rem;
}

.form__button {
  background: none;

}

.form__button--cancel {

}

.form__button--save {

}

.hidden {
  display: none;
}

.min-w-100 {
  min-width: 100%;
}